{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
		            {% csrf_token %}
		            {{ form.as_p }}
                    <a href="{% url 'users:reset-password' %}">забыли пароль?</a>
                </div>
                <button type="submit" class="btn btn-primary">
                    войти
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
