{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">здесь можно познакомиться с нашим ассортиментом</p>
    <a class="btn btn-outline-primary" href="{% url 'catalog:create' %}">Новый продукт</a>
</div>

<div class="container overflow-hidden">
    <div class="row text-center gy-5">
        {% for object in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow h-100">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ object.product_name }}</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">{{ object.price }}р</h1>
                        <img src="{{ object.product_image | media_filter}}" class="img-fluid">
			<div class="align-self-end">
                            <p>{{ object.product_description | slice:20 }}...</p>
			</div>
		    </div>
		    <div class="card-footer">
                        <a role="button" href="{% url 'catalog:product_detail' object.pk %}" class=" btn btn-lg btn-block btn-outline-primary">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
